/* Arcadia Display Font - For Headers */
@font-face {
    font-family: 'Arcadia Display';
    src: url('https://res.cloudinary.com/dvc4kia8l/raw/upload/v1764089046/ArcadiaDisplay-Variable_uzx6io.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Arcadia Text Font - For Body */
@font-face {
    font-family: 'Arcadia Text';
    src: url('https://res.cloudinary.com/dvc4kia8l/raw/upload/v1764089046/ArcadiaText-Variable_ujfr4i.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* PP Neue Montreal Font - Optional */
/* @font-face {
    font-family: 'PP Neue Montreal';
    src: url('https://res.cloudinary.com/dvc4kia8l/raw/upload/v1764089046/PPNeueMontreal-Variable_nady5r.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Graphik';
    src: url('https://res.cloudinary.com/dvc4kia8l/raw/upload/v1752578408/Graphik-Regular_2_bzzwzc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* Adjust body font size */
body {
    font-size: 17px;
    background-color: #242e34;
    /* Dark mode body background */
    color: #f2f2f2;
    /* Light text color for readability */
    font-family: 'Arcadia Text', system-ui, sans-serif;
}

/* Adjust headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Graphik', 'Arcadia Display', system-ui, sans-serif;
}


h1 {
    font-size: 21px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

li {
    font-size: 14px;
}