{
  "openapi": "3.0.0",
  "info": {
    "title": "Pooler Developer API",
    "description": "Comprehensive API documentation for Pooler payment and financial services platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.usepooler.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.usepooler.com",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/business-details": {
      "get": {
        "summary": "Get Account Details",
        "description": "Retrieve detailed information about your business account including balance, status, and payment configuration.",
        "operationId": "getBusinessDetails",
        "tags": [
          "Business"
        ],
        "responses": {
          "200": {
            "description": "Business account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/business/coverages": {
      "get": {
        "summary": "Get Merchant Coverages",
        "description": "Retrieve a list of currency coverages available for your merchant account.",
        "operationId": "getMerchantCoverages",
        "tags": [
          "Business"
        ],
        "responses": {
          "200": {
            "description": "Merchant coverages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoveragesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/initiate": {
      "post": {
        "summary": "Create Payment",
        "description": "Initiate a new payment transaction. This endpoint creates a payment quote that must be confirmed using the complete endpoint.",
        "operationId": "createPayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/complete": {
      "post": {
        "summary": "Confirm Payment",
        "description": "Complete a payment transaction that was previously initiated. Requires the quote_id and reference from the initiate response.",
        "operationId": "confirmPayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "500": {
            "description": "Payment completion failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/reject": {
      "post": {
        "summary": "Reject Payment",
        "description": "Reject a pending payment transaction. Optionally provide a reason for rejection.",
        "operationId": "rejectPayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment rejected successfully"
          }
        }
      }
    },
    "/payments/tsq/{reference}": {
      "get": {
        "summary": "Query Payment Status",
        "description": "Query the status of a payment transaction using its reference number.",
        "operationId": "queryPaymentStatus",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "Payment reference number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "summary": "List Payments",
        "description": "Retrieve a paginated list of all payment transactions for your account.",
        "operationId": "listPayments",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPaymentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "summary": "Retrieve Payment",
        "description": "Retrieve detailed information about a specific payment transaction by its ID.",
        "operationId": "retrievePayment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment transaction ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/virtual-accounts": {
      "post": {
        "summary": "Create Virtual Account",
        "description": "Create a new virtual account for receiving payments. Virtual accounts can be used to collect payments from customers.",
        "operationId": "createVirtualAccount",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVirtualAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Virtual account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Virtual Accounts",
        "description": "Retrieve a paginated list of all virtual accounts associated with your account.",
        "operationId": "listVirtualAccounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual accounts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedVirtualAccountsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/virtual-accounts/{id}": {
      "get": {
        "summary": "Retrieve Virtual Account",
        "description": "Retrieve detailed information about a specific virtual account by its ID.",
        "operationId": "retrieveVirtualAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Virtual account ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/events": {
      "get": {
        "summary": "List Events",
        "description": "Retrieve a paginated list of webhook events that have been generated for your account.",
        "operationId": "listWebhookEvents",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedWebhookEventsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/events/trigger/{id}": {
      "post": {
        "summary": "Trigger Events",
        "description": "Manually trigger a webhook event to be sent again. Useful for testing or retrying failed webhook deliveries.",
        "operationId": "triggerWebhookEvent",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook event ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Webhook event triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTriggerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fx/quotes": {
      "get": {
        "summary": "Get Quotes",
        "description": "Retrieve foreign exchange quotes for currency conversions.",
        "operationId": "getFXQuotes",
        "tags": [
          "FX"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FX quotes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FXQuotesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fx/rates": {
      "get": {
        "summary": "Get Rates",
        "description": "Retrieve current foreign exchange rates for supported currencies.",
        "operationId": "getFXRates",
        "tags": [
          "FX"
        ],
        "responses": {
          "200": {
            "description": "FX rates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FXRatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/recipients": {
      "post": {
        "summary": "Create Recipient",
        "description": "Create a new payment recipient. Recipients are bank accounts or payment destinations that you can send payments to.",
        "operationId": "createRecipient",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecipientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recipient created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Recipients",
        "description": "Retrieve a paginated list of all payment recipients associated with your account.",
        "operationId": "listRecipients",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "account_type",
            "in": "query",
            "description": "Filter by account type (individual | business)",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "business"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_name",
            "in": "query",
            "description": "Filter by account name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_number",
            "in": "query",
            "description": "Filter by account number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipients retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRecipientsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/recipients/{id}": {
      "put": {
        "summary": "Edit Recipient",
        "description": "Update an existing payment recipient's information.",
        "operationId": "editRecipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Recipient ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecipientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve Recipient",
        "description": "Retrieve detailed information about a specific payment recipient by its ID.",
        "operationId": "retrieveRecipient",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Recipient ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientResponse"
                }
              }
            }
          }
        }
      }
    },
    "/utils/nigerian-name-enquiry": {
      "get": {
        "summary": "Nigerian Name Enquiry",
        "description": "Query the account name associated with a Nigerian bank account number. This uses the NIP (Nigerian Interbank Payment) system.",
        "operationId": "nigerianNameEnquiry",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": true,
            "description": "Nigerian bank account number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankcode",
            "in": "query",
            "required": true,
            "description": "Bank code for the account's bank",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account name retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameEnquiryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/utils/country-coverage": {
      "get": {
        "summary": "Get Supported Corridors",
        "description": "Retrieve a list of supported payment corridors (country and currency combinations) for payouts.",
        "operationId": "getSupportedCorridors",
        "tags": [
          "Utilities"
        ],
        "responses": {
          "200": {
            "description": "Supported corridors retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryCoverageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/utils/global-institution-list": {
      "get": {
        "summary": "Global Institution List",
        "description": "Retrieve a comprehensive list of financial institutions (banks) supported by the platform, optionally filtered by country.",
        "operationId": "getGlobalInstitutionList",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Filter institutions by country name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Institution list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionListResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication. Include your API key in the Authorization header as: Bearer {your_api_key}"
      }
    },
    "schemas": {
      "BusinessDetailsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/BusinessDetails"
          }
        }
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "business_name": {
            "type": "string"
          },
          "business_address": {
            "type": "string"
          },
          "business_city": {
            "type": "string"
          },
          "business_state": {
            "type": "string"
          },
          "business_country": {
            "type": "string"
          },
          "business_zip": {
            "type": "string"
          },
          "business_phone": {
            "type": "string"
          },
          "business_email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string"
          },
          "is_developer_access_enabled": {
            "type": "boolean"
          },
          "is_live_mode_enabled": {
            "type": "boolean"
          },
          "is_test_mode_enabled": {
            "type": "boolean"
          },
          "can_go_live": {
            "type": "boolean"
          },
          "current_mode": {
            "type": "string"
          },
          "account_balance": {
            "type": "string"
          },
          "account_balance_in_float": {
            "type": "number"
          }
        }
      },
      "CoveragesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Coverage"
            }
          }
        }
      },
      "Coverage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "currency_name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "recipient_id"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Payment amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., NGN, USD)"
          },
          "description": {
            "type": "string",
            "description": "Payment description"
          },
          "reference": {
            "type": "string",
            "description": "Unique reference for the payment"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the payment recipient"
          },
          "transaction_type": {
            "type": "string",
            "description": "Type of transaction (e.g., inter)"
          },
          "transaction_category": {
            "type": "string",
            "description": "Transaction category (e.g., transfer)"
          },
          "transaction_tags": {
            "type": "string",
            "description": "Comma-separated tags for the transaction"
          },
          "transaction_notes": {
            "type": "string",
            "description": "Additional notes for the transaction"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel (e.g., bank)"
          },
          "sub_type": {
            "type": "string",
            "description": "Transaction sub-type (e.g., transfer)"
          }
        }
      },
      "ConfirmPaymentRequest": {
        "type": "object",
        "required": [
          "quote_id",
          "reference"
        ],
        "properties": {
          "quote_id": {
            "type": "string",
            "format": "uuid",
            "description": "Payment quote ID from initiate response"
          },
          "reference": {
            "type": "string",
            "description": "Payment reference from initiate response"
          }
        }
      },
      "RejectPaymentRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "Reason for rejecting the payment"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/Payment"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed"
            ]
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sub_type": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "transaction_date": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "string"
          },
          "is_reversed": {
            "type": "boolean"
          },
          "is_completed": {
            "type": "boolean"
          },
          "channel": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedPaymentsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedPayments"
          }
        }
      },
      "PaginatedPayments": {
        "type": "object",
        "properties": {
          "total_pages": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "next_page": {
            "type": "string"
          },
          "previous_page": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          }
        }
      },
      "CreateVirtualAccountRequest": {
        "type": "object",
        "required": [
          "account_type",
          "account_name",
          "email"
        ],
        "properties": {
          "account_type": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ],
            "description": "Type of account holder"
          },
          "account_name": {
            "type": "string",
            "description": "Name of the account holder"
          },
          "first_name": {
            "type": "string",
            "description": "First name (for individual accounts)"
          },
          "last_name": {
            "type": "string",
            "description": "Last name (for individual accounts)"
          },
          "display_name": {
            "type": "string",
            "description": "Display name for the account"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "bvn": {
            "type": "string",
            "description": "Bank Verification Number (for Nigerian accounts)"
          },
          "mobile_number": {
            "type": "string",
            "description": "Mobile phone number"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        }
      },
      "VirtualAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/VirtualAccount"
          }
        }
      },
      "VirtualAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "bank_name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedVirtualAccountsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedVirtualAccounts"
          }
        }
      },
      "PaginatedVirtualAccounts": {
        "type": "object",
        "properties": {
          "total_pages": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "next_page": {
            "type": "string"
          },
          "previous_page": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VirtualAccount"
            }
          }
        }
      },
      "PaginatedWebhookEventsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedWebhookEvents"
          }
        }
      },
      "PaginatedWebhookEvents": {
        "type": "object",
        "properties": {
          "total_pages": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "next_page": {
            "type": "string"
          },
          "previous_page": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "attempts": {
            "type": "integer"
          },
          "acknowledged": {
            "type": "boolean"
          },
          "acknowledged_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookTriggerResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/WebhookTriggerData"
          }
        }
      },
      "WebhookTriggerData": {
        "type": "object",
        "properties": {
          "acknowledged": {
            "type": "boolean"
          },
          "attempts": {
            "type": "integer"
          },
          "event_id": {
            "type": "string",
            "format": "uuid"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FXQuotesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FXRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FXRate"
            }
          }
        }
      },
      "FXRate": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "processing_fee": {
            "type": "string"
          },
          "rate_in_usd": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateRecipientRequest": {
        "type": "object",
        "required": [
          "account_number",
          "account_name",
          "account_type",
          "account_currency"
        ],
        "properties": {
          "account_number": {
            "type": "string",
            "description": "Bank account number"
          },
          "account_name": {
            "type": "string",
            "description": "Account holder name"
          },
          "account_type": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ],
            "description": "Type of account holder"
          },
          "account_currency": {
            "type": "string",
            "description": "Currency code"
          },
          "account_country_code": {
            "type": "string",
            "description": "Country code"
          },
          "account_bank_name": {
            "type": "string",
            "description": "Bank name"
          },
          "account_bank_code": {
            "type": "string",
            "description": "Bank code"
          },
          "amount_limit": {
            "type": "number",
            "description": "Maximum amount limit for this recipient"
          },
          "identification": {
            "type": "object",
            "properties": {
              "identification_type": {
                "type": "string"
              },
              "identification_number": {
                "type": "string"
              },
              "identification_image": {
                "type": "string"
              }
            }
          },
          "payment_details": {
            "type": "object",
            "properties": {
              "account_number": {
                "type": "string"
              },
              "bank_code": {
                "type": "string"
              },
              "bank_name": {
                "type": "string"
              },
              "routing_number": {
                "type": "string"
              },
              "swift_code": {
                "type": "string"
              },
              "payment_rails": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdateRecipientRequest": {
        "type": "object",
        "properties": {
          "account_number": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "account_type": {
            "type": "string"
          },
          "account_currency": {
            "type": "string"
          },
          "account_country_code": {
            "type": "string"
          },
          "account_bank_name": {
            "type": "string"
          },
          "account_bank_code": {
            "type": "string"
          },
          "amount_limit": {
            "type": "number"
          },
          "identification_type": {
            "type": "string"
          },
          "identification_number": {
            "type": "string"
          },
          "payment_details": {
            "type": "object"
          }
        }
      },
      "RecipientResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/Recipient"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_id": {
            "type": "string",
            "format": "uuid"
          },
          "account_number": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "account_type": {
            "type": "string"
          },
          "is_internal_account": {
            "type": "boolean"
          },
          "account_currency": {
            "type": "string"
          },
          "account_bank_name": {
            "type": "string"
          },
          "account_bank_code": {
            "type": "string"
          },
          "account_country_code": {
            "type": "string"
          },
          "account_country": {
            "type": "string"
          },
          "identification": {
            "type": "object"
          },
          "limit": {
            "type": "string"
          },
          "payment_details": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedRecipientsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedRecipients"
          }
        }
      },
      "PaginatedRecipients": {
        "type": "object",
        "properties": {
          "total_pages": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "next_page": {
            "type": "string"
          },
          "previous_page": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          }
        }
      },
      "NameEnquiryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/NameEnquiryData"
          }
        }
      },
      "NameEnquiryData": {
        "type": "object",
        "properties": {
          "account_bank": {
            "type": "string"
          },
          "account_bank_code": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          }
        }
      },
      "CountryCoverageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryCoverage"
            }
          }
        }
      },
      "CountryCoverage": {
        "type": "object",
        "properties": {
          "country_iso_code": {
            "type": "string"
          },
          "supported_currency": {
            "type": "string"
          },
          "service_coverage": {
            "type": "string"
          }
        }
      },
      "InstitutionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "institution_name": {
            "type": "string"
          },
          "institution_code": {
            "type": "string"
          },
          "institution_country": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "stan": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "type": "string"
          }
        }
      }
    }
  }
}